# ********************
# Infrastructure
# ********************
# Redis Pub/Sub
REDIS_PUBSUB_ADDR=localhost:6379
REDIS_PUBSUB_PASSWORD=
REDIS_PUBSUB_DB=0
REDIS_PUBSUB_POOL_SIZE=8

# Redis Cache
REDIS_CACHE_ADDR=localhost:6379
REDIS_PORT=6379
REDIS_CACHE_PASSWORD=
REDIS_CACHE_DB=1
REDIS_CACHE_POOL_SIZE=4

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=marketpulse
DB_SSL_MODE=disable
DB_TIMEZONE=UTC

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_PREFIX=market_trades
KAFKA_PORT=9092
KAFKA_UI_PORT=8080

# ********************
# Services
# ********************
BROADCASTER_PORT=8081
API_SERVER_PORT=8000

# LOG
ENV=development              # development | staging | production
LOG_LEVEL=debug              # debug | info | warn | error

LOG_FORMAT=console           # console (dev) | json (prod)
LOG_ADD_SOURCE=true          # caller info (file:line)

# ********************
# Exchanges
# ********************
# Binance
BINANCE_DISCOVERY_URL=https://api.binance.com/api/v3/exchangeInfo
BINANCE_SNAPSHOT_URL=https://api.binance.com/api/v3/depth
BINANCE_STREAM_URL=wss://stream.binance.com:9443/stream

# Bybit
BYBIT_DISCOVERY_URL=https://api.bybit.com/v5/market/instruments-info?category=spot&status=Trading
BYBIT_SNAPSHOT_URL=https://api.bybit.com/v5/market/orderbook
BYBIT_STREAM_URL=wss://stream.bybit.com/v5/public/spot

# OKX
OKX_DISCOVERY_URL=https://www.okx.com/api/v5/public/instruments?instType=SPOT
OKX_SNAPSHOT_URL=
OKX_STREAM_URL=wss://ws.okx.com:8443/ws/v5/public

# ********************
# Telemetry Components
# ********************
# OpenTelemetry Collector
OTLP_ENDPOINT=localhost:4317
OTEL_COLLECTOR_GRPC_PORT=4317
OTEL_COLLECTOR_HTTP_PORT=4318
OTEL_COLLECTOR_METRICS_PORT=8889

# Grafana
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_PORT=3000

# Prometheus
PROMETHEUS_PORT=9090
